PB_VERSION=0.36.5
WEB_PORT=8090
APP_ENV=dev  # dev for development, prod for production

# Docker Compose 設定檔路徑
COMPOSE_FILE=docker-compose.yaml

# PocketBase configuration
POCKETBASE_URL=http://pocketbase:8090
PB_ADMIN_EMAIL=admin@example.com
PB_ADMIN_PASSWORD=CHANGE_ME_TO_YOUR_PASSWORD

# Vite configuration
VITE_ALLOWED_HOSTS=your-domain.com
