@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600');
@import 'sweetalert2/dist/sweetalert2.min.css';
@import 'bootstrap/dist/css/bootstrap.min.css';
@import '@mdi/font/css/materialdesignicons.min.css';
